@charset "UTF-8";

 /* 수업 시간 공용 */

section {border: 3px dashed #399;
margin: 3em 0;
padding: 1em;}

h2 {border-left:10px solid;
	background-color:#022;	
    padding:0.3em 0.2em;
	color: #399;}






















